article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/********* HOME SECTION ********/

html {
	font-size: 62.5%;
}

body {

	font-size: 1.4rem;
}

h1 {
	font-size: 7.4rem;
}

h2 {
	font-size: 3.2rem;
}

.wrapper {

	max-width: 1080px;
	margin: 0 auto;
}

header {

	background: #000000;
	text-align: center;	
	height: 100vh;
	padding-top: 22vh;	
	color:white;	
}

.fa-angle-left, .fa-angle-right {
	color:#7F90AA
}

.redDot {
	color:red;
}

header p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 22px;
	width: 70%;

}
.redPipes {
	color:red;
}

.commaRed {
	color:red;
}

nav {

	padding:60px;
	background: #FF6347;
}

nav ul {

	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: .5rem; /*Does it make sense to use rem?*/
}

nav li {
	float: left;
	font-size: 2.5rem;
	width: 20%;
	text-align: center;
}

nav li a {
	color:black;
	padding:10px;
	text-decoration: none;
}

nav li a:hover {
	color:white;
}

.fa {
	font-size: 90px;
}

.fa-info-circle {
	margin-left: 5px;
}

.fa-wrench {
	margin-left: 10px;
}

/********* ABOUT SECTION *********/ 

.about {
  background: #D0D0D0;  
}

.about .wrapper {
	margin-left: 100px;
	padding-top: 30px;
	padding-bottom: 60px;

}

.aboutPhoto {
	max-width:18%;
	height:198px;
	margin-left:90px;
	border-radius:50%;
	float: left;
	border:2px solid black;
}

.about h2 {
	margin-top: 0;
	margin-left: 330px;
}
.about p {
	
	width:50%;
	margin-left:50px;
	float:left;
}

/********* SKILLS SECTION ********/ 

.skills {

	background: black;
	color:white;
}

.skills .wrapper {
	margin-left: 65px;
}

.skills h2 {
	margin: 0 auto;
	width:12%;
	padding: 20px 0;
}

.hsH3 {
	margin-left: 25rem; /* REM OKAY?*/
}

.ssH3 {
	margin-top: -40px;  /* REM OKAY? AND -PIXELS?*/
	margin-left: 74rem;
}

.skills p {
	width:42%;
}

.hsIcons {
	float: left;
	margin-left: 45px;
	width: 48%;
}

.hsIcons .fa {
	font-size: 70px;
	padding: 20px;
}

.jsLogo {
	height: 65px;
	width:65px;
	margin-left: 20px;
	margin-bottom: -6px;
}

.ssIcons .fa {
	font-size: 70px;
	padding: 15px;
}

.fa-css3 {
	color:#30abdb;
}

.fa-html5 {
	color:#f0652e;
}

.fa-wordpress {
	color:#454545;
}

/********* MUSIC SECTION ********/


section .music {

	background: url(../images/chicoDusty2.jpg) center;
	background-size: cover;
	color:white; 

}

.music h3 {
	margin: 0 auto;
	font-size: 3rem;
	margin-top: -30px;
	padding-bottom:25px;
	width:15%;
}

.music .wrapper p {
	margin: 0 auto;
	padding:0 160px;
	width: 90%;
	text-align: center;
	margin-top:-18px;
	margin-bottom: 350px;
}

/********* CONTACT SECTION ********/ 

.contact .wrapper {

	margin-top: -40px;
	margin-left: 160px;
	margin-bottom: -60px;
	
}

.contact .wrapper h2 {
	margin: 0 auto;
	width: 32%;
	margin-top: 10px;
	margin-bottom: 18px;
}
















